.pessoa__imagem {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    background: red;
    height: 300px;
    margin: 0 auto;
    width: 300px;
      
}

.pessoa__imagem--andreia {
    background-image: url('../../img/pessoas/andreia.jpg')
}

.pessoa__imagem--marcela {
    background-image: url('../../img/pessoas/marcela.jpg')
}
.pessoa__imagem--roberta {
    background-image: url('../../img/pessoas/roberta.jpg');
}




