.banner__imagem {
    
    background: url('../../img/banner.jpg') no-repeat center / cover;
    height: calc(100vh - 72px);
    width: 100%;
   
    
    }

    @media screen and (min-width:0) {
        .banner__imagem {
            height: calc(100vh - 51px);
        }
        
    }

    @media screen and (min-width:768) {
        .banner__imagem {
            height: calc(100vh - 72px);
        }
        
    }


    /*
    
    background-image: url('../../img/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 72px);
    width: 100%;
    */